<div class="topBackImg">
  <div class="overlay">
  </div>
  <div class="topContent">
    <h2>Bellezza</h2>
    <h3>Sonoma County's Premiere Beauty Salon</h3>
  </div>

</div>
<div class="secondContent">
  
</div>