<div class="container space-top-4">
  <div class="row">
    <div class="col-xs-3">
      <table class="table table-bordered">
        <tr>
          <th colspan="2" class="centered"><h2>Hair</h2></th>
        </tr>
        <tr>
          <th colspan="2">Professional Cuts</th>
        </tr>  
        <tr>
          <td>Women</td>
          <td class="priceCol">$40-60</td>
        </tr>
        <tr>
          <td>Men</td>
          <td class="priceCol">$30-50+</td>
        </tr>
        <tr>
          <td>Teens</td>
          <td class="priceCol">$35+</td>
        </tr>
        <tr>
          <td>Kids</td>
          <td class="priceCol">$25+</td>
        </tr> 
      </table>  
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Special Services</th>
        </tr> 
        <tr>
          <td>Blow Out</td>
          <td class="priceCol">$35+</td>
        </tr>
        <tr>
          <td>Condition TX</td>
          <td class="priceCol">$25+</td>
        </tr>
        <tr>
          <td>30 Minute Scalp Massage</td>
          <td class="priceCol">$30+</td>
        </tr>
        <tr>
          <td>Updo/Ironwork</td>
          <td class="priceCol">$55+</td>
        </tr>
        <tr>
          <td>Extensions</td>
          <td class="priceCol">*</td>
        </tr> 
      </table>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Chemical Services</th>
        </tr>
        <tr>
          <td>Color Touch Up</td>
          <td class="priceCol">$70+</td>
        </tr>
        <tr>
          <td>All Over Color</td>
          <td class="priceCol">$70+</td>
        </tr>
        <tr>
          <td>Mini Highlight</td>
          <td class="priceCol">$45+</td>
        </tr>
        <tr>
          <td>Partial Highlight</td>
          <td class="priceCol">$85+</td>
        </tr>
        <tr>
          <td>Full Highlight</td>
          <td class="priceCol">$105+</td>
        </tr>
        <tr>
          <td>Color Correction</td>
          <td class="priceCol">*</td>
        </tr>
        <tr>
          <td>Straighten</td>
          <td class="priceCol">*</td>
        </tr>
        <tr>
          <td>Smoothing</td>
          <td class="priceCol">*</td>
        </tr>
        <tr>
          <td>Perm</td>
          <td class="priceCol">$105+</td>
        </tr>
        <tr>
          <td>Partial Perm</td>
          <td class="priceCol">$85+</td>
        </tr>
      </table>
    </div>
    <div class="col-xs-3">
      <table class="table table-bordered">
        <tr>
          <th colspan="2" class="centered"><h2>Special Events</h2></th>
        </tr>
        <tr>
          <th colspan="2">Date Night</th>
        </tr>
        <tr>
          <td>Blow Out</td>
          <td class="priceCol">$35+</td>
        </tr>
        <tr>
          <td>Condition TX</td>
          <td class="priceCol">$25+</td>
        </tr>
        <tr>
          <td>Makeup</td>
          <td class="priceCol">$50-75</td>
        </tr>        
      </table>
      
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Weddings</th>
        </tr>
        <tr>
          <td>Bride Consultation</td>
          <td class="priceCol">N/C</td>
        </tr>
        <tr>
          <td>Bride Style</td>
          <td class="priceCol">$100</td>
        </tr>
        <tr>
          <td>Maids Style</td>
          <td class="priceCol">$75</td>
        </tr>
        <tr>
          <td>Makeup</td>
          <td class="priceCol">$50-75</td>
        </tr>
        <tr>
          <td>Trial Run Hair</td>
          <td class="priceCol">*</td>
        </tr>
        <tr>
          <td>Trial Run Makeup</td>
          <td class="priceCol">*</td>
        </tr>
        
      </table>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Proms And Graduation</th>
        </tr>
        <tr>
          <td>Blow Out</td>
          <td class="priceCol">$35+</td>
        </tr>
        <tr>
          <td>Condition TX</td>
          <td class="priceCol">$25+</td>
        </tr>
        <tr>
          <td>30 Minute Scalp Massage</td>
          <td class="priceCol">$30+</td>
        </tr>
        <tr>
          <td>Updo/Ironwork</td>
          <td class="priceCol">$55+</td>               
        </tr>
        <tr>
          <td>Extensions</td>
          <td class="priceCol">*</td>
        </tr>
        
      </table>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Photo Shoot Styling</th>
        </tr>
        <tr>
          <td>On Location</td>
          <td class="priceCol">*</td>
      </table>
                    
    </div>
    <div class="col-xs-3">
      <table class="table table-bordered">
        <tr>
          <th colspan="2" class="centered"><h2>Skin</h2></th>
        </tr>
        <tr>
          <th colspan="2">Facials</th>
        </tr>
        <tr>
          <td>European</td>
          <td class="priceCol">$90</td>          
        </tr>
        <tr>
          <td colspan="2"><em>specific focus:<br /> Anti-age, Roseacea, Detoxify or Hydrate. 60 minutes</em></p></td>       
        </tr>
        <tr>
          <td>Express</td>
          <td class="priceCol">$70</td>
        </tr>
        <tr>
          <td colspan="2"><em>45 Minutes</em></td>
        </tr>
      </table>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Add-Ons</th>
        </tr>
        <tr>
          <td>Lip Treatment</td>
          <td class="priceCol">$5</td>
        </tr>
        <tr>
          <td colspan="2"><em>exfoliate and hydrate</em></td>
          
        </tr>
        <tr>
          <td>Eye Treatment</td>
          <td class="priceCol">$10</td>
        </tr>
        <tr>
          <td colspan="2"><em>plump fine lines around eyes</em></td>
          
        </tr>
      </table>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Peels</th>
        </tr>
        <tr>
          <td><em>Peels focus on issues such as Acne Scars, Hyperpigmentation, fine lines and wrinkles. Ask your technician which peel is right for you.</em></td>
          <td class="priceCol">$95+</td>
        </tr>
        
      </table>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Eyelash Extensions</th>
        </tr>
        <tr>
          <td>Initial</td>
          <td class="priceCol">$300*</td>
        </tr>
        <tr>
          <td>Fills</td>
          <td class="priceCol">$65*</td>
        </tr>
        </table>
    </div>
    <div class="col-xs-3">
      <table class="table table-bordered">
        <tr>
          <th colspan="2" class="centered"><h2>Body</h2></th>
        </tr>
        <tr>
          <th colspan="2">Custom Spray Tans</th>
        </tr>
        <tr>
          <td>Full Body Tan</td>
          <td class="priceCol">$35</td>
        </tr>
        <tr>
          <td colspan="2"><em>Pre-treatment requirements:<br /> Exfoliate and shave 1-2 days before service. DO NOT shave or exfoliate day of service.</em></td>
          
        </tr>
        
      </table>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Waxing</th>
        </tr>
        <tr>
          <td>Brow</td>
          <td class="priceCol">$15+</td>
        </tr>
        <tr>
          <td>Face<em>(partial)</em></td>
          <td class="priceCol">$12+</td>
        </tr>
        <tr>
          <td>Underarm</td>
          <td class="priceCol">$20+</td>
        </tr>
        <tr>
          <td>Arm<em>(full)</em></td>
          <td class="priceCol">$40+</td>
        </tr>
        <tr>
          <td>Arm<em>(half)</em></td>
          <td class="priceCol">$40+</td>
        </tr>
        <tr>
          <td>Full Leg</td>
          <td class="priceCol">$60+</td>
        </tr>
        <tr>
          <td>Lower Leg</td>
          <td class="priceCol">$40+</td>
        </tr>
        <tr>
          <td>Basic Bikini</td>
          <td class="priceCol">$25+</td>
        </tr>
        <tr>
          <td>Brazilian</td>
          <td class="priceCol">$85+</td>
        </tr>
      </table>
    </div>
  </div>
</div>  