<div class="row">
  <div class="col-xs-3">
    <table class="table table-bordered">
      <tr>
        <th class="titlep"><h2>Hair</h2></th>
      </tr>
      <tr>
        <th>Professional Cuts</th>
      </tr>
      <tr>
        <td>Women</td>
        <td>$40-60</td>
      </tr>
      <tr>
        <td>Men</td>
        <td>$30-50+</td>
      </tr>
      <tr>
        <td>Teens</td>
        <td>$35+</td>
      </tr>
      <tr>
        <td>Kids</td>
        <td>$25+</td>
      </tr>
    </table  
    <table class="table table-bordered">
      <tr>
        <th>Special Services</th>
      </tr> 
      <tr>
        <td>Blow Out</td>
        <td>$35+</td>
      </tr>
      <tr>
        <td>Condition TX</td>
        <td>$25+</td>
      </tr>
      <tr>
        <td>30 Minute Scalp Massage</td>
        <td>$30+</td>
      </tr>
      <tr>
        <td>Updo/Ironwork</td>
        <td>$55+</td>
      </tr>
      <tr>
        <td>Extensions</td>
        <td>*</td>
      
    </table>
    <table class="table table-bordered">
      <tr>
        <th>Chemical Services</th>
      </tr>
      <tr>
        <td>Color Touch Up</td>
        <td>$70+</td>
      </tr>
      <tr>
        <td>All Over Color</td>
        <td>$70+</td>
      </tr>
      <tr>
        <td>Mini Highlight</td>
        <td>$45+</td>
      </tr>
      <tr>
        <td>Partial Highlight</td>
        <td>$85+</td>
      </tr>
      <tr>
        <td>Full Highlight</td>
        <td>$105+</td>
      </tr>
      <tr>
        <td>Color Correction</td>
        <td>*</td>
      </tr>
      <tr>
        <td>Straighten</td>
        <td>*</td>
      </tr>
      <tr>
        <td>Smoothing</td>
        <td>*</td>
      </tr>
      <tr>
        <td>Perm</td>
        <td>$105+</td>
      </tr>
      <tr>
        <td>Partial Perm</td>
        <td>$85+</td>
      </tr>
    </table>
  </div>
  <div class="col-xs-3">
    <table class="table table-bordered">
      <tr>
        <th class="titlep"><h2>Special Events</h2></th>
      </tr>
      <tr>
        <th>Date Night</th>
      </tr>
      <tr>
        <td>Blow Out</td>
        <td>$35+</td>
      </tr>
      <tr>
        <td>Condition TX</td>
        <td>$25+</td>
      </tr>
      <tr>
        <td>Makeup</td>
        <td>$50-75</td>
      </tr>
      
    </table>
    
    <table class="table table-bordered">
      <tr>
        <th>Weddings</th>
      </tr>
      <tr>
        <td>Bride Consultation</td>
        <td>N/C</td>
      </tr>
      <tr>
        <td>Bride Style</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Maids Style</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Makeup</td>
        <td>$50-75</td>
      </tr>
      <tr>
        <td>Trial Run Hair</td>
        <td>*</td>
      </tr>
      <tr>
        <td>Trial Run Makeup</td>
        <td>*</td>
      </tr>
      
    </table>
    <table class="table table-bordered">
      <tr>
        <th>Proms And Graduation</th>
      </tr>
      <tr>
        <td>Blow Out</td>
        <td>$35+</td>
      </tr>
      <tr>
        <td>Condition TX</td>
        <td>$25+</td>
      </tr>
      <tr>
        <td>30 Minute Scalp Massage</td>
        <td>$30+</td>
      </tr>
      <tr>
        <td>Updo/Ironwork</td>
        <td>$55+</td>               
      </tr>
      <tr>
        <td>Extensions</td>
        <td>*</td>
      </tr>
      
    </table>
    <table class="table table-bordered">
      <tr>
        <th>Photo Shoot Styling</th>
      </tr>
      <tr>
        <td>On Location</td>
        <td>*</td>
    </table>
                  
  </div>
  <div class="col-xs-3">
    <table class="table table-bordered">
      <tr>
        <th class="titlep"><h2>Skin</h2></th>
      </tr>
      <tr>
        <th>Facials</th>
      </tr>
      <tr>
        <td>European</td>
        <td>$90</td>
        
      </tr>
      <tr>
        <td><em>specific focus:<br /> Anti-age, Roseacea, Detoxify or Hydrate. 60 minutes</em></p></td>
      
      </tr>
      <tr>
        <td>Express</td>
        <td>$70</td>
      </tr>
      <tr>
        <td><em>45 Minutes</em></td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr>
        <th>Add-Ons</th>
      </tr>
      <tr>
        <td>Lip Treatment</td>
        <td>$5</td>
      </tr>
      <tr>
        <td><em>exfoliate and hydrate</em></td>
        
      </tr>
      <tr>
        <td>Eye Treatment</td>
        <td>$10</td>
      </tr>
      <tr>
        <td><em>plump fine lines around eyes</em></td>
        
      </tr>
    </table>
    <table class="table table-bordered">
      <tr>
        <th>Peels</th>
      </tr>
      <tr>
        <td><em>Peels focus on issues such as Acne Scars, Hyperpigmentation, fine lines and wrinkles. Ask your technician which peel is right for you.</em></td>
        <td>$95+</td>
      </tr>
      
    </table>
    <table class="table table-bordered">
      <tr>
        <th>Eyelash Extensions</th>
      </tr>
      <tr>
        <td>Initial</td>
        <td>$300*</td>
      </tr>
      <tr>
        <td>Fills</td>
        <td>$65*</td>
      </tr>
      </table>
  </div>
  <div class="col-xs-3">
    <table class="table table-bordered">
      <tr>
        <th class="titlep"><h2>Body</h2></th>
      </tr>
      <tr>
        <th>Custom Spray Tans</th>
      </tr>
      <tr>
        <td>Full Body Tan</td>
        <td>$35</td>
      </tr>
      <tr>
        <td><em>Pre-treatment requirements:<br /> Exfoliate and shave 1-2 days before service. DO NOT shave or exfoliate day of service.</em></td>
        
      </tr>
      
    </table>
    <table class="table table-bordered">
      <tr>
        <th>Waxing</th>
      </tr>
      <tr>
        <td>Brow</td>
        <td>$15+</td>
      </tr>
      <tr>
        <td>Face<em>(partial)</em></td>
        <td>$12+</td>
      </tr>
      <tr>
        <td>Underarm</td>
        <td>$20+</td>
      </tr>
      <tr>
        <td>Arm<em>(full)</em></td>
        <td>$40+</td>
      </tr>
      <tr>
        <td>Arm<em>(half)</em></td>
        <td>$40+</td>
      </tr>
      <tr>
        <td>Full Leg</td>
        <td>$60+</td>
      </tr>
      <tr>
        <td>Lower Leg</td>
        <td>$40+</td>
      </tr>
      <tr>
        <td>Basic Bikini</td>
        <td>$25+</td>
      </tr>
      <tr>
        <td>Brazilian</td>
        <td>$85+</td>
      </tr>
    </table>
  </div>
</div>