body {
  font-family: 'PT Sans', 'Sans-Serif';
  font-size:1.7em;
}

a {
  color: #eee;
}

.centered {
  text-align:center;
}

.navbar {
  margin-bottom:0px;
}

.todos {
	list-style: none;
}

.todos input {
	margin-bottom: 0px;
}

.todos li {
	border: 1px solid #EEE;
	border-radius: 3px;
	padding: 0px 5px;
}

.topBackImg {
  margin-top:-50px;
  background:url('../img/salon.jpg');
  background-size: cover;
  height:600px;
}

/*.overlay {
  z-index:3;
  position:absolute;
  width:100%;
  height:600px;
  background-color:#000;
  opacity:0.5;
}*/

.topContent {
  width:100%;
  z-index:99;
  position:absolute;
  margin-top:250px;
  color:#eee;
  /*color:   #DBD9D9;*/
  text-align:center;
}

.topContent h2,
.topContent h3 {
  margin:10px auto;
}

.topContent h2 {
  font-size:2.2em;
  font-weight:100;
}

.topContent h3 {
  font-size:1.7em;
  font-weight:100;
}

.secondContent {
  height:400px;
  width:100%;
  background-color: #fff;
}

.priceCol {
  width:30%;
  text-align:center;
}

.space-top-4 {
  margin-top:40px;
}